body {


  font-family: 'Comic Sans', sans-serif;
  padding: 15;
  min-height: 100vh;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,body, #root {
  height: 100%;
}